* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://media.istockphoto.com/id/1405963489/photo/illustration-of-galaxy-space-background-the-universe-consists-of-stars-black-hole-nebula.jpg?s=612x612&w=0&k=20&c=h7LFLxzKKsmjHhUvwMFDqHqLexhPPC8GpBzVU5EhJtk=');  
     background-repeat: no-repeat;
   background-size: cover; 
   
   
}


section {
    width: 20%;
    margin:10% auto;
    background-color: white;
    border-radius:15px;
    position: relative;
    
}
.section2 {
    text-align: center;

}
 .section2 h2 {
    margin-top: -22px;
    font-weight: 22px;
    

} 
.section2 p {
opacity: 0.5;
padding: 15px;
}
.img {
display: flex;
justify-content: center;
}
 img {
    position: relative;
    bottom: 40px;
    border-radius: 50px;
    border: 5px solid white;
    
    
}
.move {
width: 100%;
height: 20vh;

border-radius: 15px 15px 0 0;

 background-image: url('https://media.istockphoto.com/id/1203503506/photo/fireworks-against-the-night-sky.jpg?s=612x612&w=0&k=20&c=m9eNbbfKINXU6xkB0drgnlwkyBRPON9o1wyuTxCzK4I='); 
}
span {
    font-weight: lighter;
    opacity: 0.5;
}
.content {
    display: flex;
    justify-content: space-around;
    
}
.content div {
    margin-bottom: 15px;
    
}
.content h2,p {
    padding: 5px;
}
.content p {
    opacity: 0.5;
}
hr {
    margin: 30px 0;
    border: 1 solid black;
}
@media(max-width:1300px){
    section {
        width: 50%;
    }
}